[2014-05-03 17:30] bryantAXS opened #1 "Error thrown in model when trying to implement a custom pivot model relationship"
I've created a custom pivot model with the following code, and am getting an error:

Edit :: Sorry this isn't the custom pivot model, this is a normal model, but contains the newPivot method necessary to use a custom pivot model, which is related to this model. I'm adjusting the title too.

[code]

[code]

Any thoughts on this?

I have added the service provider, adjusted my aliases, and ran a dum

[2014-05-14 18:20] #1 closed, assigned to nobody

[2014-07-22 22:45] bryantAXS opened #2 "Implementing within a Pivot Model"
Hey Kirk,

I've been trying to use a pivot model to write back some JSON from an API. My biggest issue is I can't get the pivot model itself to respect Eloquence's enforceCamel rules. Do you know if that is possible? You can see in this response, the properties inside the pivot table are still snake cased.

http://cl.ly/image/0f2D0x463p0y

[2014-08-30 05:19] ncskrypt opened #3 "Wont work with Laravel 4.2"
Your composer requires 4.1.*

[2014-08-30 05:21] ncskrypt opened #4 "Wont work with Laravel 4.2"
Your composer requires 4.1.*

[2014-08-30 14:35] #4 closed, assigned to nobody

[2014-08-30 17:11] #3 closed, assigned to nobody

[2014-09-03 06:12] ncskrypt opened #5 "Relationship accessors not returned in camelCase"
When grabbing a relationship on a model (not a database column/attribute), it is set in snake_case rather than camelCase. Would be nice to have this added to Eloquence.

Example:

[code]

Accessing the Model/Relationship (2 different approaches):

[code]

OR:

[code]

Output:

[code]

The attributes from the database come out as expected in camelCase. Unfortunately the relationship accessor does n

[2014-09-04 06:07] #5 closed, assigned to nobody

[2014-09-04 06:30] #2 closed, assigned to nobody

[2014-09-04 23:17] ncskrypt opened #7 "Requirements could not be resolved"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for kirkbushell/eloquence 1.1.x -> satisfiable by kirkbushell/eloquence[1.1.0].
    - kirkbushell/eloquence 1.1.0 requires rhumsaa/uuid 3.0.*@dev -> no matching package found.

[2014-09-05 11:25] #7 closed, assigned to nobody

[2014-09-05 14:24] ncskrypt opened #8 "Class schema does not exist"
Just updated to the latest version and added the service provider and can't seem to avoid getting this error bombing the site:

[code]

[2014-10-05 18:41] #8 closed, assigned to kirkbushell

[2015-02-06 14:28] kirkbushell opened #14 "Proposal: Model behaviours"
Something I've used in a few of my projects is additional behaviours for models. In Laravel 3, I write a basic soft-delete mechanism (back then it wasn't supported in Eloquent). This led to a behavioural system whereby developers could add behaviours for certain conditions (such as soft-delete, count caches and more).

I believe the time is now right to re-implement this behaviour for Eloquence (a

[2015-02-14 08:05] mike-anthony opened #15 "composer require (per readme) breaks on Windows"
Should be using:

    composer require kirkbushell/eloquence:~1.2

instead of

    composer require kirkbushell/eloquence ~1.2

Otherwise, `~` is being expanded to the home directory. The use of the colon prevents this.

[2015-02-14 16:59] kirkbushell commented on #15
Thanks you @mike-anthony - will resolve that immediately.

[2015-02-14 17:00] #15 closed

[2015-02-27 22:01] CWSpear opened #17 "This Breaks Many To Many"
In Laravel 5, if I have a Many to Many relationship, such as:

[code]

and have the tables all set up correct, when I do this in a controller:

[code]

it will *always* return an empty array for roles if the `User` model has `use CamelCaseModel` in it. If I remove that line, it grabs the relationship as expected.

I am still investigating, but I suspect it has something to do with Laravel doing so

[2015-02-27 22:03] kirkbushell commented on #17
Have you bound the eloquent model to the one provided in Eloquence? If so, then there could be a bug there - as it does some things with pivot models.

[2015-02-27 22:11] CWSpear commented on #17
I actually have been using a base class, so every model extends a custom BaseModel that has `use CamelCaseModel` in it. Both the `Role` and `User` model extend `BaseModel`.

[2015-02-27 22:18] kirkbushell commented on #17
Nono, what I mean is - in order to provide proper, complete functionality for camel casing - you need to bind the eloquent model implementation to the one in Eloquence. If you haven't done that, I'm not sure how it would be converting.

That said - have you tried defining the full relationship manually to see if that gets around it?

[2015-02-27 22:21] CWSpear commented on #17
Ooooooh. I was not. This fixed it. And I see that my `BaseModel` doesn't need to use the trait because it extends the model which is bound to your model! Fantastic...

Sorry and thanks!

[2015-02-27 22:38] CWSpear commented on #17
Ok, sorry. I've been trying to chase this down for a while, and was messing with some stuff.

I didn't have your service provider in my config (I think that's what you're talking about...? If not, I am confused).

When you say, "define the full relationship manually," what do you mean?

Do you mean this?

[code]

cuz that causes an error:

[code]

[2015-02-27 22:48] CWSpear commented on #17
I think the problem is in https://github.com/laravel/framework/blob/5.0/src%2FIlluminate%2FDatabase%2FEloquent%2FRelations%2FBelongsToMany.php#L195

There is a call to `cleanPivotAttributes` that is looking for `pivot_` in the attribute.

[2015-02-27 23:18] CWSpear commented on #17
The `$model->getAttributes()` in the highlighted section returns the `camelCase` version... that's where the crux of it appears to be. Laravel is *explicitly* looking for snake_case there, and so it breaks down. I can tweak the code in `cleanPivotAttributes` to convert them to snake_case first and it works.

[2015-03-04 21:42] rogue780 commented on #17
I am also having this problem.

[2015-03-04 21:47] rogue780 commented on #17
I've confirmed that I've done the binding. @kirkbushell can you confirm this is correct in my config/app.php file?

'providers' => [
		'Barryvdh\Debugbar\ServiceProvider',

		/*
		 * Laravel Framework Service Providers...
		 */
		'Illuminate\Foundation\Providers\ArtisanServiceProvider',
		'Illuminate\Auth\AuthServiceProvider',
		'Illuminate\Bus\BusServiceProvider',
		'Illuminate\Cache\CacheService

[2015-03-04 21:58] kirkbushell commented on #17
@CWSpear sorry for belated response.

This line:

    return $this->belongsToMany(Role::class, 'role_user', 'userId', 'roleId');

Is incorrect. Eloquence doesn't manage relationships (maybe a future patch), so the fields need to be in snake case.

Let me know if that resolves it for you.

[2015-03-04 22:00] CWSpear commented on #17
No, it does not. By default, it uses `user_id` and `role_id`. This works if I remove `use CamelCaseModel;`.

I am fairly confident it has to do with the code I pointed out before in the core.

[2015-03-04 22:05] rogue780 opened #18 "Model::create() fails when using CamelCaseModel trait and camelCased attribute keys"

[2015-03-04 22:17] kirkbushell commented on #17
Okay, good to know. It's not a core issue, it's definitely an issue with Eloquence as you've pointed out.

If you can drill down further, feel free to create a PR that resolves the issue and I'll merge it in pronto. I can release it at the same time as the new 1.3 features :)

[2015-03-04 22:18] kirkbushell commented on #18
I use create all over the place with camelcased attribute keys - am not seeing this issue.

Could you elaborate some more and provide some code examples?

[2015-03-04 22:20] CWSpear commented on #17
Well, either side could make a change to fix it, but obviously we'd want to fix it on our end =)

But it *does* appear to be that the core is explicitly looking for **pivot_**. I'll look into making a PR, but I'm actually at `ng-conf` right now, so dunno when I'll get to it! If you're bored, the solution may have something to do with skipping camelCasing values that start with **pivot_**. That has

[2015-03-04 22:27] kirkbushell commented on #17
@CWSpear yeah that's exactly my suspicions as well.

[2015-03-04 22:27] kirkbushell commented on #17
It's not a point of boredom, however - it's a point of time :)

[2015-03-04 22:27] CWSpear commented on #17
Yeah, I know how it is =)

[2015-03-05 05:21] rogue780 commented on #18
@kirkbushell check out my code here:

https://github.com/rogue780/camel-case-problem

I recreated the problem in a fresh Laravel 5 project.

To recreate it, set up your .env file for the database then run

    php artisan migrate --seed
    php artisan test:command

Then you should see two entries in your database. If it worked, one entry should have "snake_case!" in the some_long_string_name fiel

[2015-03-05 05:22] rogue780 commented on #18
![screen shot 2015-03-05 at 12 22 07 am](https://cloud.githubusercontent.com/assets/247716/6499685/c2236b24-c2cd-11e4-85db-ff95a3fa9fa1.png)

[2015-03-05 05:41] rogue780 commented on #18
I should also mention that the entry that is created via the seed (not shown in my db) does work. So something is lost when a model is created from within a command? I'm not sure of the cause exactly.

[2015-03-05 05:42] rogue780 commented on #18
Updated screenshot
![screen shot 2015-03-05 at 12 42 21 am](https://cloud.githubusercontent.com/assets/247716/6499886/875d2f86-c2d0-11e4-9231-33490e513a49.png)

[2015-03-05 10:01] kirkbushell commented on #18
This isn't broken - you've set it up incorrectly.

All you've done is included the camel case model within the namespace - but you haven't set it up on the class.

[2015-03-05 11:10] kirkbushell commented on #18
Please see comments on the repository you added (that was very helpful, btw).

[2015-03-05 11:17] #17 closed

[2015-03-05 11:17] kirkbushell commented on #17
@CWSpear feel free to try out the master branch now - I believe I've resolved it. As you suggested, the CamelCaseModel trait will now skip over pivot_ keys.

[2015-03-05 11:25] kirkbushell commented on #14
This is now complete and running on the master branch. Release coming soon :)

[2015-03-05 11:26] #14 closed

[2015-03-05 15:17] rogue780 commented on #18
@kirkbushell I set it up in the model here:
    app/BaseModel.php:8
![screen shot 2015-03-05 at 10 12 02 am](https://cloud.githubusercontent.com/assets/247716/6507461/2066fda2-c320-11e4-8ab0-68fe43651d04.png)

My test model then extends BaseModel to inherit the trait:

![screen shot 2015-03-05 at 10 13 44 am](https://cloud.githubusercontent.com/assets/247716/6507499/54fcd848-c320-11e4-9f1f-498e981

[2015-03-05 15:28] rogue780 commented on #18
Found the comments. I've addressed those in code, repushed, and the issue still persists.

[2015-03-05 15:38] kirkbushell commented on #18
My apologies @rogue780 - I didn't see that base model.

Okay, let me have a bit of a play with the Eloquence tests and see if I can replicate.

[2015-03-05 15:38] kirkbushell commented on #18
Have you tried setting $fillable using camelCase?

[2015-03-05 15:45] rogue780 commented on #18
@kirkbushell I just changed it to use a sqlite db so it shouldn't require any setup on your end to run migrations and test if you're inclined to do so.

[2015-03-05 15:48] kirkbushell commented on #18
@rogue780 not hat's okay, I'll do it within the eloquence project.

Digging a bit further I think I can see where the issue may lie, now. The fillable methods definitely aren't going through my methods, so - time for an update :)

[2015-03-05 15:56] rogue780 commented on #18
@kirkbushell, setting $fillable with the camelCase attributes made it work. I'll accept that if that's the way it's supposed to work. I was expecting it to work with snake_case since I had understood the idea was with the traits I didn't really need to change attributes to camelCase in my model. Would it be possible to make $fillable work with either camelCase or snake_case?

[2015-03-05 15:57] rogue780 commented on #18
@kirkbushell lol. I keep replying and then seeing your new reply after the fact. That'd be great if you could update that. Thanks so much for your patience.

[2015-03-05 16:00] kirkbushell commented on #18
@rogue780 no, thank you. Really appreciate the time and effort you put in to reporting the issue, even when I wasn't seeing it :)

I've found the bug now anyway, so that'll be resolved very shortly. Thanks again!

[2015-03-05 16:06] #18 closed

[2015-03-05 16:06] kirkbushell commented on #18
@rogue780 try the master branch now, I think I've fixed it. Was able to duplicate in the tests.

[2015-03-05 16:09] kirkbushell commented on #18
@rogue780 you should leave fillable as snake_case - I get the feeling setting it as camelCase may create problems for Eloquent. So, leave fillable/guarded as snake_case, but you can now work with those attributes when dealing with your model from the outside as you would expect, using camelCase.

[2015-03-05 17:47] CWSpear commented on #17
It is working for me. I do think it could break for people with columns that start with **pivot_**, but *I'm* okay with that!

Also, the items on the pivot table looks like they don't get `camelCase`d, which is probably okay, too.

example:

[code]

Thanks!

[2015-03-05 18:18] kirkbushell commented on #17
Hmmm, the pivot table ones should be - that's the whole idea of having the eloquent model rebound to your own implementation.

[2015-03-09 17:45] kirkbushell commented on #18
@rogue780 changing my mind on this - implementing a solution that supported both was nasty. In short - if you're using camel cased models, you should now be using camel-cased fillable attribute arrays, as well.

[2015-03-10 16:04] rogue780 commented on #18
@kirkbushell I'm running into an issue now where if I make my $fillable array have the camelCase attributes, then that gets passed to the database as camelCase instead of snake_case. Additionally, if I make the $fillable array snake_case, then any attributes that are coming in as camelCased and would need translation are ignored during a fill.

[2015-03-10 16:09] kirkbushell commented on #18
Can you provide some code examples?

[2015-03-10 16:23] rogue780 commented on #18
@kirkbushell yeah, I'm trying to update that project I shared with you, but things seem to be working there. I'm looking into my real project to see what the difference is now. It might be a ID10-T issue on my part. I'll update you either way.

[2015-03-10 16:25] kirkbushell commented on #18
Are you running on 1.3.3? That's the latest now.

[2015-03-10 17:06] rogue780 commented on #18
@kirkbushell yeah. I think I've found the problem. The model I am using the trait in has a setAttribute() method and it's preventing the camel case trait's setAttribute from being called.

[2015-03-10 17:07] kirkbushell commented on #18
@rogue780 that'll do it :)

[2015-03-10 19:33] rogue780 commented on #18
@kirkbushell yeah, that seemed to be it. I moved my code out to its own trait and then did some method aliasing to avoid collisions and then other crap to make it all play nice.

[2015-03-10 19:46] kirkbushell commented on #18
You could still keep it in your own class - just either alias it (if it's on the same class) or call the parent method (iirc you had the trait on a parent "base model" class).

That'll be easier/cleaner than extracting to a trait and then aliasing.

[2015-04-17 23:01] brenjt opened #19 "This doesn't work well with pivot tables."
If I have a pivot table, upon attaching the database throws an error saying that the ID does not have a default value. I assume that laravel isn't using the your Model when inserting the new record.

Any thoughts?

[2015-04-19 21:14] kirkbushell commented on #19
You'll need to show your model setup brenjt, else I can't help. I haven't seen this issue personally.

[2015-04-23 15:19] agence86 opened #20 "Can't extends orginal Model class"
Hi,

when i follow your readme.md, il loaded with composer, i included the service provider in app.php but when i create a new model object it doesn't execute the uuid generation. By the way the closure is loaded in the core laravel Model object but it doesn't affect this class...

Even when i try to call

$user= new User();
$user->generateNewUuid();
it throw undefined method in user (and it try t

[2015-04-23 23:16] kirkbushell commented on #20
Can you post a code example? Check that it's actually including the traits as required.

Your model has to extend the Eloquence model. If it's not doing that - you won't see those methods.

[2015-04-24 07:22] agence86 commented on #20
Do i have to include the trait in each Models?

User Model

<?php namespace App;

use Illuminate\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Auth\Passwords\CanResetPassword;
use Illuminate\Contracts\Auth\Authenticatable as AuthenticatableContract;
use Illuminate\Contracts\Auth\CanResetPassword as CanResetPasswordContract;

class User extends Model implements Authen

[2015-04-24 07:23] kirkbushell commented on #20
No, just extending the Eloquence model is enough (which you're not doing).

[2015-04-24 07:23] #20 closed

[2015-04-24 07:24] agence86 commented on #20
so i need to use
use Eloquence\Database\Model;
insted of
use Illuminate\Database\Eloquent\Model;

[2015-04-24 07:26] kirkbushell commented on #20
Correct.

[2015-04-24 07:26] agence86 commented on #20
Right thank you i'll try this way.

[2015-04-24 07:27] agence86 commented on #20
Last question btw what is the effect of the bind in service provider so?

[2015-04-24 07:28] kirkbushell commented on #20
The reason for the service provider, is to re-bind the model to the Eloquence implementation. This is necessary for things like pivot tables and camel-casing, ensuring they also abide by the same rules :)

[2015-04-24 07:28] kirkbushell commented on #20
Without it, you end up with snake_case fields in pivot models, but camelCase everywhere else.

[2015-04-24 07:28] agence86 commented on #20
ho ok!

Thank you very much!
Have a nice day

[2015-04-24 07:29] kirkbushell commented on #20
You too :)

[2015-04-24 07:29] kirkbushell commented on #19
@brenjt - if you can show the issue you're having by showing some code you're using, happy to help - otherwise I'll close this issue.

[2015-05-17 06:38] #19 closed

[2015-06-15 16:17] brenjt opened #24 "PHPUnit Tests Fail while using Uuid Model"
When testing models with phpunit. I get an ```Field 'id' doesn't have a default value```. For some reason all second tests fail when creating the ```id```. It looks like the ```static::creating``` callback is never getting called the second time. This is only prevalent in unit testing and not in regular laravel. Thoughts?

[2015-06-15 16:58] kirkbushell commented on #24
Can you provide an example of your model + tests? Can't really help otherwise. Creating should only get called once - when the model object is originally "created". And this only happens if the model has no id and $exists is false.

[2015-06-15 20:15] brenjt commented on #24
It looks like this is the real issue here. https://github.com/laravel/framework/issues/1181

[2015-07-07 15:06] kirkbushell commented on #24
Okay closing as it appears as though it's something else :)

[2015-07-07 15:06] #24 closed

[2015-07-08 03:13] brenjt commented on #24
Yeah when it came down to it, the problem was Laravel not calling the events again during unit tests. Although it appeared that the issue was on UUID model it is in fact on Laravel. Not much one can do until it's fixed with them.

[2015-08-30 05:25] cyrodjohn commented on #24
Is there a solution for this? static::creating callback is never called on a phpunit test by default so the UUID is never generated when performing tests.

[2015-09-03 20:47] Zyles opened #26 "Camelcase conflict with getAttribute"
Hi,

I put the trait in my User model and get error:
[code]

I also use these:
[code]

What to do?

Thanks.

[2015-09-03 21:01] Zyles opened #27 "Integrity constraint violation with UUID"
Another issue here...

Added use UUIDModel; and public $incrementing = false; to my User model.

I build the schema in migration with $table->char('id', $length = 36)->index(); instead of increments('id')

(Btw I think you should use binary(16) for performance http://iops.io/blog/storing-billions-uuid-fields-mysql-innodb/)

This seem to work so far. Now I want to seed my database and I get:
[code]

[2015-09-03 21:24] Zyles commented on #26
I forgot to extend Eloquence model which solved it. But that brought me to another issue. What about models that I do not directly control? For example the metable package holds its own models in the vendor dir. And the pagination from Eloquent.

Example JSON:
[code]
I'd like to camel these too.

Wouldn't it be better to apply camelcase on a full response basis rather than model?

[2015-09-03 22:09] Zyles commented on #27
Changed my seeding to:

[code]

Works now!

[2015-09-03 22:09] #27 closed

[2015-09-04 06:49] kirkbushell commented on #26
There's nothing you can do about other models. Technically I wouldn't be using models from packages anyway. They're meant to represent business concerns and that's not something you can generally outsource away.

However, I do agree with your last sentence. Having some sort of JSON view presenter is certainly another approach you can take for those models that aren't touched by Eloquence.

[2015-09-04 06:50] kirkbushell commented on #27
Glad you were able to sort it out - and thanks for the suggestion about binary, really good idea :)

[2015-09-07 19:17] #26 closed

[2015-10-05 11:08] cgwyllie opened #28 "CamelCaseModel doesn't work with hidden/visible/dates fields"
Hi!

I've been attempting to use this trait in a Laravel 5.1 application, but have hit a problem with the `$hidden` property.

If I define a property to be hidden in camel case, it is ignored:

[code]

This appears to be the case for the `$dates` and `$visible` properties as well (and there could be others I guess).

Digging in to the core Eloquent model, it seems that `getHidden` could be overrid

[2015-10-05 12:00] cgwyllie commented on #28
Here's the POC implementation I'm using for now for hidden and date fields:

[code]

[2015-10-05 17:47] kirkbushell commented on #28
Thanks for pointing this out. More overloading to be done! hehe

If you don't mind putting together a PR, I can get this in sooner.

[2015-10-06 02:03] leonardoalifraco opened #29 "Documentation should explain that the service provider is not mandatory"
Hi Kirk,

Thanks for this awesome package.

I was looking for a way to have a consistent coding convention on my Laravel applications and I started using only the CamelCaseModel trait on a base class for all my models.

I believe that the documentation has to explain that adding the service provider does some things that the owner of the application might not want (for instance: the uuids), apart

[2015-10-06 06:07] kirkbushell commented on #29
The ServiceProvider is necessary if you want camel casing to be used properly. It's necessary for things like pivot models. However, if the documentation needs to be clearer about that fact then I'm happy for a PR to be provided.

[2015-10-09 10:45] cgwyllie commented on #28
Sure! Working on putting it together, need to add some tests and decide what to do about the `withHidden` method, hopefully land this early next week for you.

[2015-11-23 23:22] cgwyllie commented on #28
Hey, sorry for the delay, finally getting this together for you.

Think the CI build for PHP5.4 has freaked out, but passes on all other versions.

https://github.com/kirkbushell/eloquence/pull/30

Let me know if there's anything you want tidied up for merge :)

[2015-11-26 04:14] cviebrock opened #31 "Cache count clarification"
I have a Category model that has many Services.  My _categories_ table has columns for _category_id_ (the primary key) and _services_count_, among other fields.  The _services_ table has _service_id_ (primary key) and _category_id_, among others.

My Service model looks something like:

[code]

Finally, in _App/Providers/AppServiceProvider.php_, I have in my `register()` method:

[code]

When I cr

[2015-11-26 04:34] cviebrock commented on #31
Figured it out ... the line `Service::observe(new CountCacheObserver());` needs to go in the `boot()` method of the AppServiceProvider, not the `register()` method.

I'll send a PR to update the docs to clarify that, if you don't mind.

[2015-11-26 04:34] #31 closed

[2015-11-26 04:46] cviebrock opened #33 "Ability to recalculate a count cache (instead of just incrementing/decrementing)"
I can't think of a use case off the top of my head, except for what I just did when I added cache counting to an existing set of models and relations.

The behaviour only calculates if the count should be incremented or decremented from the current value, but there is no way to tell it to do a "hard" recalculation of the value (i.e. get `$model->relation()->count()` and store it in `$model->count_

[2015-11-26 13:26] kirkbushell commented on #33
It's certainly an option and probably something that may come in handy for some developers - either adding counts to existing models, or maybe you want to change the field or something. I can see several use-cases where this would be necessary.

This could be done via an artisan command that could update all registered count caches maybe? Optionally, a specific model could be provided as part of t

[2015-11-26 14:02] kirkbushell commented on #28
Hi @cgwyllie. I've merged this in and the tests are all so passing, so you happy for me to close this now? I'll be doing a new released base on this code and a couple of other PRs.

[2015-11-26 14:12] cviebrock commented on #33
`eloquence:update-caches` with an optional `--class=User` argument makes sense to me.

If I get a chance, I'll try and put an PR together for you. :)

[2015-11-26 14:13] #28 closed

[2015-11-26 14:13] #29 closed

[2015-11-26 14:14] kirkbushell commented on #33
That would be awesome, thanks :)

I'll help out with anything as well - lemme know if you get stuck or want to run through some ideas.

[2015-11-26 14:35] cgwyllie commented on #28
@kirkbushell Sure thing, happy to close.

Thanks :)

[2015-11-26 16:42] cviebrock opened #34 "Feature request: TotalCache (similar to CountCache)"
In the same way we can add count caching to a model, it would be nice to have a behaviour that cached the sum of some value.

As an example, a User has many Orders.  Right now, we could add a `order_count` field to the User model and use the existing behaviour to update that.  I'm suggesting something that allows one to add a an `order_total` field as well, that is a cached copy of the sum of some

[2015-11-26 16:49] kirkbushell commented on #34
Yeah I've thought about that also, and it'll be a good feature (same with average). It fits well with the behaviours idea and system of Eloquence, so I'm happy to include something like this.

[2015-12-01 16:03] cviebrock commented on #34
If you have a chance, can you take a look at the PR #35 I submitted? It's not passing the tests ... but I think that's because I have something set up incorrectly in the tests, not in the actual implementation.

Thanks!

[2015-12-01 17:48] kirkbushell commented on #34
Will do @cviebrock - just been away on holidays (and currently sick).

[2015-12-01 21:53] cviebrock commented on #34
Get well soon!

[2015-12-01 21:59] cviebrock opened #36 "CountCache for multiple models with same column name"
I have User, Category and Service models.  A Service belongs to a category, and Users have many Services.  The primary keys on the models are `user_id`, `category_id` and `service_id` respectively.  The join keys are the same (i.e. `service.user_id` and `service.category_id`).

I want to create cache count for both the number of services per category, and the number of services per user.  I can't

[2015-12-02 10:20] kirkbushell commented on #36
Ah, I haven't encountered that use-case before. It would seem it's simply not possible. In that case, a change needs to be made so that the services_count could be a multi-dimensional array?

[2015-12-02 14:22] cviebrock commented on #36
Or, the "long" form syntax needs to be more explicit.  For example, the short form:

[code]

And the proposed long form:

[code]

Or (my preference), even more verbose but very explicit:

[code]

[2015-12-02 15:16] cviebrock commented on #36
Well, I guess I'm super productive when I wake up early.  #37 adds this ability while maintaining backwards compatibility.

[2015-12-02 16:10] kirkbushell commented on #36
Ah, that answers the question i had on the PR then. I'll merge in :) Thanks!

[2015-12-04 13:23] #36 closed

[2015-12-04 13:23] kirkbushell commented on #34
I'll be renaming the SumCache to TotalCache - I think it's a better name :) Thanks for this.

[2015-12-04 13:23] #34 closed

[2015-12-04 15:20] cviebrock commented on #34
Your package, so your call.  :)  I was trying to keep parity with the underlying SQL commands normally associated with the actions:
* `COUNT()` --> CountCache
* `SUM()` --> SumCache
* `AVG()` --> AvgCache (..eventually)

[2015-12-04 16:08] kirkbushell commented on #34
hehe, I ended up reverting it back to sum anyway - Summable works nicely as a trait ^_^

[2015-12-04 16:13] kirkbushell commented on #33
@cviebrock if you'er interested, I'd love some help on this while I push forward with version 2 of Eloquence :)

[2015-12-04 16:27] cviebrock commented on #34
Rolls off the tongue better than Totalable.  ;)

[2015-12-04 16:29] cviebrock commented on #33
I'll try and whip something up in the next day or so.

[2015-12-04 16:50] kirkbushell commented on #33
@cviebrock all the updates are now available on the master branch - so feel free to work on that and test if that suits you. Readme/guide also updated to reflect new API and approach to setting up these behaviours.

[2015-12-04 16:56] cviebrock commented on #33
:+1:

[2015-12-04 19:15] cviebrock commented on #33
So, I've almost got this working.  The biggest issue is how to find all the Models that use caching, in order to run the command on them.

I'm using https://github.com/hanneskod/classtools to do the searching.  However, because you changed the way you define the caching (traits instead of interfaces), I can't easily filter classes via things like `instance of CountCache`.

Would you consider addin

[2015-12-04 23:09] kirkbushell commented on #33
@cviebrock I won't add an interface simply to be included as a marker for a console command.

My suggestion is that the user be required to provide the model(s) that they wish to update the counts for as part of the options for the command.

[2015-12-04 23:14] cviebrock commented on #33
Also ... I think with the reorganization, you can't now have a model that uses both `Countable` and `Summable` (because both traits implement the `updateCache()` and `default()` methods.

[2015-12-04 23:16] cviebrock commented on #33
I'm offline for a bit, but feel free to check out the "update-caches-command" branch on my fork of your package to see what I have so far.

[2015-12-04 23:31] kirkbushell commented on #33
Ah crud, I better check that. Thanks :)

[2015-12-05 01:13] kirkbushell commented on #33
Any method conflicts should now be resolved. I want to spend a little time cleaning it up further, as I believe there's an opportunity there for some sound refactoring.

[2015-12-05 06:04] constb opened #38 "[rfc] are you sure Sluggable::getRouteKey returns right value?"
are you sure ``Sluggable::getRouteKey`` returns right value? its name suggests it should return field name, but you are returning ``$this->slug`` i.e. a value...

[2015-12-05 06:13] constb opened #39 "whitespace irregularity"
``composer.json`` and `` CamelCasing.php`` have tab-indented lines. they jump out when viewing through github's interface. PSR2 recommends always using spaces for indentation.

[2015-12-05 17:29] kirkbushell commented on #39
Will fix this soon, thanks.

[2015-12-05 17:30] kirkbushell commented on #38
Hmmm, tbh I'm not sure. I mean I've been using the system for at least 18 months now on our platform at work and had zero problems.

[2015-12-05 21:55] cviebrock commented on #33
Well ... `Countable` uses `Cacheable`.  And `Summable` uses `Cacheable`.  So you still can't use both because all the methods in `Cacheable` are trying to get included twice.

Just a suggestion: move all the logic out of the models and into a service class?  All that would remain in the model is `use Countable`, the `countCaches()` method to set the configuration, and `bootCountable()` to call the

[2015-12-05 23:44] kirkbushell commented on #33
Ah good point, I didn't think about that. Yeah good idea about the boot aspect managing the service class. Will have a play with that tonight :)

[2015-12-06 01:17] kirkbushell commented on #33
I've refactored that code out into a couple of separate services now (good idea!) and that cleans the traits themselves up quite a bit. Tests are all still passing, so happy to move forward with that if you feel that helps?

[2015-12-06 01:24] kirkbushell commented on #39
Have now fixed PSR2 issues across the entire project.

[2015-12-06 01:24] #39 closed

[2015-12-06 01:27] kirkbushell commented on #38
Yup, it's correct - the base method returns an attribute value.

[2015-12-06 01:27] #38 closed

[2015-12-06 03:51] cviebrock commented on #33
Cool! I'll pull down your master, and add in my Artisan commands to recalculate cache counts, then submit a PR.

[2015-12-09 19:44] bronxct1 opened #41 "Adding support for Polymorphic relationships"
I've come across this package and noticed that only basic relation types are currently supported. I'm currently working on a pull request to add support for polymorphic relationships. I should have the PR ready in the next couple of days but I wanted to see what the initial reaction would be to adding such a feature.

[2015-12-09 21:03] kirkbushell commented on #41
That would be awesome, I'm all for that. I just haven't built it as I haven't personally needed it - seems this is the first real case for it :) I can certainly see the usefulness of it, however.

[2015-12-09 21:32] bronxct1 commented on #41
Great, I have a working version of this already. I'm going to do some cleanup and submit the PR tomorrow so we'll be able to go over the implementation.

[2015-12-09 21:35] kirkbushell commented on #41
Awesome, thank you!

[2015-12-12 00:24] samirgit commented on #41
is this package working for laravel 5.1? i have installed it and followed the instructions but still my models still return snake_case..

[2015-12-12 00:36] samirgit opened #42 "Please Fix Readme for camelCasing"
<pre>
use Eloquence\Behaviours\CamelCasing;

class SomeModel extends Model
{
     use CamelCasing;
}
</pre>

[2015-12-12 22:38] kirkbushell commented on #42
Sorry, what exactly is the problem? If you could write a PR that'd be a lot easier.

[2015-12-12 22:39] kirkbushell commented on #42
Also, if you have any issues with install, please note it as a separate task (referring to your comment on another thread).

[2015-12-14 01:23] cviebrock commented on #33
Closing this, as the feature is now added.

[2015-12-14 01:23] #33 closed

[2015-12-14 01:25] cviebrock opened #43 "CamelCasing and firstOrNew, firstOrCreate, etc. methods"
I'm pretty sure these methods don't work with camel-casing enabled on the model, since the array of attributes passed to each is simply passed through to the `where()` clause of a query.

I think the fix is reasonably simple: overload all these methods in the `CamelCasing` trait, snake_case all the array keys, then return the parent method.

Not sure if that's the best way to do it, though.  Thoug

[2015-12-14 01:33] kirkbushell commented on #43
That's definitely the best way.

[2015-12-14 01:45] cviebrock commented on #43
There you go. :)

[2015-12-14 01:49] #43 closed

[2015-12-14 02:06] cviebrock commented on #43
Not entirely related, but this doesn't work either (if the `$data` array has camel-cased keys):

[code]

I think the fix here is rather larger... :worried:

[2015-12-14 02:06] kirkbushell commented on #43
Yeah I won't or wouldn't bother with that - that's dealing directly with the query builder then.

[2015-12-14 02:07] kirkbushell commented on #43
CamelCase functionality was there initially just to deal with JSON responses, and it grew substantially.

[2015-12-15 17:38] #42 closed

[2016-01-25 20:46] cviebrock opened #46 "New release soon?"
Just wondering if you are planning a new release soon. :)

[2016-01-25 21:33] kirkbushell commented on #46
Not at the moment, but there's lots in the pipeline with some new features and improvements. Just a bit busy right now but March looks doable.

If there's something specific you'd like released let me know and I'll see what I can do.

[2016-01-25 22:14] cviebrock commented on #46
I was hoping to use those artisan commands that are in the master branch.  Although I probably owe you some tests for them first ... ;)

[2016-01-25 23:40] kirkbushell commented on #46
Yes that would be nice ;)

[2016-01-26 11:49] kirkbushell commented on #41
@bronxct1 are you still interested in completing this? If not, I'll close the issue.

[2016-02-02 20:14] bronxct1 commented on #41
I am, I'm using this currently on a project but have not had a chance to work out all of the kinks. Also currently getting an error on eloquence:rebuild command that has appeared.
[code]
If you want to close that will be fine and I can reopen when I have a pull request

[2016-02-29 22:41] canfiax opened #48 "Correct field types for pivot tables"
What is the correct formatting for pivot tables? Usually, with normal integer ID's it would generate:

        Schema::create('domain_user', function (Blueprint $table) {
            $table->integer('domain_id')->unsigned()->index();
            $table->foreign('domain_id')->references('id')->on('domains')->onDelete('cascade');
            $table->integer('user_id')->unsigned()->index();

[2016-02-29 22:57] kirkbushell commented on #48
Issues should be directly related to any problems that arise within the library, not general questions regarding SQL migrations. I'd recommend reading up SQL table schemas regarding UUIDs.

[2016-02-29 22:57] #48 closed

[2016-03-01 10:26] canfiax commented on #48
True, but what about adding this basic information to the documentation?

[2016-03-01 10:47] kirkbushell commented on #48
There's plenty of information about how to best store UUIDs on the various SQL platforms :)

[2016-03-01 11:59] canfiax commented on #48
Sure. But why not include the basiscs in the documentation?

[2016-03-01 12:04] kirkbushell commented on #48
Should I also include documentation on how to write PHP?

Documentation is there for the library, nothing more. You're expected to know certain things if you want to use some of its features.

[2016-03-09 16:34] DarKDinDoN opened #50 "Unique slugs ?"
Hello,

Can this package generate unique slugs ?

Thx.

[2016-03-09 16:38] kirkbushell commented on #50
It doesn't do checks on slugs, so there is a chance that it could create an erroneous slug. It depends also on the strategy you use. For example if you want to base it off a post title or something, you should be doing that check yourself, and ensuring you have a good strategy for managing it.

[2016-03-09 16:39] DarKDinDoN commented on #50
Thx

[2016-03-09 16:39] #50 closed

[2016-04-02 03:02] gabrieltong opened #51 "can Countable support relation or condition ?"
Countable is easy to use , but It doesn't work in my case .

[code]

thanks

[2016-04-02 03:06] gabrieltong commented on #51
I checked the code, it's not based on eloquent relation, but db sql, why do we use relation ? so there's no condition problem, I can put the condition in relation .

[2016-04-02 09:48] kirkbushell commented on #51
The reason is because the SQL statement helps to avoid race condition issues where 2 requests may be executed at the same time, resulting in an incorrect count on the related table. If you're fetching an object, and then making a change and doing the update that way, you will get incorrect counts over time.

That said, I think we could also do an update() call against the relation, that could work

[2016-04-04 18:41] kirkbushell commented on #46
Still waiting on tests @cviebrock ;)

I have a few things to work on for 2.1.0, which may even become a 3.0.0 as I'm rethinking the count caches.

[2016-04-04 18:41] kirkbushell commented on #41
@bronxct1 am working toward a 2.1.0 release now - would you happen to have time for that PR?

[2016-04-24 14:54] oschettler opened #54 ""Integrity constraint violation: 1062 Duplicate entry" if generated slug is not unique"
The $attempts variable in generateTitleSlug() is not appended properly to the $titleSlug.

I avoid duplicate slugs by having a loop in my application code:

[code]

This loop never finishes.

[2016-07-04 12:10] Krato opened #56 "Sluggable on update"
Hi. I check Sluggable trait but not fire sluggable methods on update.

Can you update it to recreate slug if `slugStrategy` check different value?

Thanks

[2016-07-04 20:23] kirkbushell commented on #56
Hi there - I'm not sure what you mean. Can you elaborate?

[2016-07-18 23:24] computerfr33k opened #57 "Question: Databases supported"
Is MySQL/MariaDB the only supported database? Because I tried to use the countCache with postgresql and the syntax is not compatible since it doesn't like the tilda (`)

[2016-07-19 00:54] computerfr33k commented on #57
I've managed to rewrite the following in order to support multiple database systems
[code]

But am having trouble figuring out if the `rebuildCacheRecord` can be rewritten using the DB class.

It would be nice if someone could figure out a way to do this so that this project's cache behavior can be used on all supported laravel databases.

[2016-07-19 07:50] kirkbushell commented on #57
Interesting, I wasn't aware (obviously) that would be an issue in PSQL.

Let's definitely look at correcting that. Would you like to start a PR?

[2016-07-19 19:12] computerfr33k commented on #57
Here's what I've come up with so far.
https://github.com/computerfr33k/eloquence/commit/acf8407b2f0e1ea2aec0370fb5a821a38fa03caa

[2016-07-29 11:50] valorin opened #59 "Logic reversed in getAttribute()"
I've just noticed an interesting discrepancy in `getAttribute()` between how the `CamelCasing` trait works and the original Eloquent Model.

Consider the [Eloquent Model](https://github.com/laravel/framework/blob/5.2/src/Illuminate/Database/Eloquent/Model.php#L2604-L2617) function:

[code]

Now look at [CamelCasing](https://github.com/kirkbushell/eloquence/blob/master/src/Behaviours/CamelCasing.ph

[2016-08-01 13:45] #56 closed

[2016-08-01 13:47] kirkbushell commented on #59
@valorin cheers! i have a feeling this may have been changed in the core codebase, as I'm fairly certain I duplicated the first bit of it. Something in the back of my mind is saying that I felt it was weird to begin with (placing relations over attributes).

Happy to change this - it should definitely maintain the same behaviour as Eloquent.

[2016-09-09 13:54] bronxct1 commented on #41
@kirkbushell going to close this as I don't have time for the PR and I found some issues with the feature that I don't have bandwidth to fix at this time. I will re-open if I can make progress on adding this feature.

[2016-09-09 13:54] #41 closed

[2016-10-07 09:06] rflipo-dev opened #60 "Eloquence\Behaviours\CamelCasing::getAttributes() should be compatible with Illuminate\Database\Eloquent\Model::getAttributes($keys = Array)'"
[code]
--

Using Laravel 5.3.17

--

ugly (?) fix :
public function getAttributes() => public function getAttributes($keys = [])

[2016-10-07 11:51] kirkbushell commented on #60
Thanks for that - are you able to provide a PR for this? I can't get to it for at least a few days..

[2016-10-07 12:34] #57 closed

[2016-10-09 22:36] #60 closed

[2016-11-07 09:38] kirkbushell commented on #46
@cviebrock this has to be tested, sorry but this will need to be closed until such time as we can get them happening.

[2016-11-07 09:38] #46 closed

[2016-11-07 09:39] kirkbushell commented on #54
@oschettler - do you plan on doing a PR for this by any chance?

[2017-05-04 00:22] kirkbushell commented on #54
@oschettler ?

[2017-05-27 09:47] stefensuhat opened #67 "Problem if receiving camelCase input"
for example:

[code]

On saving to database , the firstName value is not saved. I see you have setAttribute function but seems to not working convert it to snake case.

[2017-05-27 23:10] kirkbushell commented on #67
Can you provide more information? This project is used by quite a few and the key feature is camel cased fields.

[2017-05-27 23:48] #54 closed

[2017-05-28 01:12] stefensuhat commented on #67
@kirkbushell I'm building an SPA project with laravel as backend.

From my front end i send  this data `{firstName: "Example", email: "example@example.com", password: "asdasd"}` but on receiving to the server, I can only saved the email and password. the firstName input is being ignored (because may be the database column is first_name).

[2017-05-28 04:36] kirkbushell commented on #67
You need to provide some code. I am unable to reproduce this and use the library on a 500k lines project with no issues with camel casing. I also run a SPA with laravel as backend.

My first assumption is you're not including the trait or extending a base model that includes it.

[2017-05-28 12:29] stefensuhat commented on #67
@kirkbushell
at my model User.php

[code]

my controller only simple:

[code]

[2017-05-29 00:22] kirkbushell commented on #67
You're not using camel case in your fillable attributes.

[2017-05-29 00:22] #67 closed

[2017-08-14 12:12] divdax commented on #51
I also need to apply a condition for counting related rows. e.g. User (posts_count) - Post where active = 1.

[2017-09-04 12:07] stefensuhat opened #68 "Make compatible to laravel 5.5"
I've tried using camel casing its not working properly even I put fillable on my model.

Laravel 5.4 working properly

[2017-09-12 22:38] bicatu commented on #59
any chance this will be updated?

[2017-09-12 22:39] bicatu commented on #68
hi, I am using the camel casing with lumen 5.5 and it is working. what seems to be the issue?

[2017-09-13 00:33] kirkbushell commented on #59
Certainly, soon as I have time.

[2017-09-13 00:33] kirkbushell commented on #68
You'll need to show some code.

[2017-09-13 03:13] stefensuhat commented on #68
For example after I finished my registration I called an event `UserWasLogin`, send `$user` parameter and I called the Listeners `SaveUserLastLogin`.

[code]

everytime it try to saved it always return `Column not found: 1054 Unknown column 'firstName' in 'field list'`

In my User model:

`protected $fillable = [
        'email', 'firstName', 'lastName', 'gender', 'phone', 'birthday',  'lastLogin'

[2017-09-13 03:15] kirkbushell commented on #68
How are you using the features in Eloquence? You haven't shown any code other than the fillable attributes.

[2017-09-13 03:16] stefensuhat commented on #68
[code]

[2017-09-13 03:19] kirkbushell commented on #68
Okay, do any of those other traits also overload Eloquent methods? That might be your problem.

Also a suggestion - why not simplify the form and your code by asking for first and last name?

[2017-09-13 03:21] stefensuhat commented on #68
@kirkbushell other eloquent supposed not. In laravel 5.4 it works perfectly after upgrading it become error.

Yes the reason I do those form because I want to save customer time when fill the form.

[2017-09-13 03:23] kirkbushell commented on #68
Yeah but you'er going to get names wrong by making that assumption. Believe me, much better to let the customer fill in the form that best represents their name, because if you get it wrong for marketing.etc. it looks quite unprofessional.

I'll do some more testing on 5.5, haven't had any issues so far. Have you tried doing it without the extra traits there? Also, what is Authenticatable doing?

[2017-09-13 03:26] stefensuhat commented on #68
@kirkbushell Will check with my team for those input. Your solution make sense for marketing issue. 👍

Authenticable is from Laravel authentication. I used Laravel passport so it's required.

I've tried changed the `UuidModelTrait` to yours `Uuid` issue still happen

[2017-09-13 03:33] stefensuhat commented on #68
May be the problem is when update.

I've tried to do this:

[code]

it return same error.

[2017-09-15 15:39] jasecara commented on #68
I can confirm that I also am getting this same error on a project I just upgraded to Laravel 5.5. This will work because it is the first time saving the model:

`  $user = new App\Models\User\User();
    $user->firstName = "Santa";
    $user->lastName = "Claus";
    $user->save();`

However the same exact code will not work if trying to update a model like so:
`  $user = \App\Models\User\User::fin

[2017-09-18 14:17] jasecara commented on #68
@kirkbushell I'm still not actually sure what changed from 5.4 to 5.5, but I was able to patch this problem by adding this override method to the camelcase trait:

`    /**
     * Perform a model update operation.
     *
     * @param  \Illuminate\Database\Eloquent\Builder  $query
     * @return bool
     */
    protected function performUpdate(Builder $query)
    {
        // If the updating even

[2017-09-18 14:50] kirkbushell commented on #68
Thanks @jasecara. Will definitely look into this more next weekend, or later this week when I get time. Interesting issue.

[2017-10-09 04:13] acarpio89 commented on #68
As @jasecara pointed out, the issue is that `getDirty` now returns attributes in camelCase. This is the change that introduced the problem: https://github.com/laravel/framework/commit/a0402824bf479dc5135b40a7f40095d4e2bbb265

In Laravel 5.5 the model's attributes are grabbed using `getAttributes()`, which is overridden by the CamelCasing trait in this package (https://github.com/kirkbushell/eloque

[2018-01-26 09:26] GuihaiHU commented on #68
Thanks ＠acarpio89 .
I do as what you suggest. But I don't know what `Arr` is, so I replace `Arr::get` with `array_get` and it works.
[code]

[2018-02-02 14:01] Cedricvb commented on #68
If I use the solutions suggested, I get an 'Array to string conversion' error when saving a model with an updated attribute that is being cast as an array.

[2018-02-19 21:03] maclonghorn commented on #68
@acarpio89 I used this as well and it works fine.  However, when dealing with pivots, I'm still having a problem.

@kirkbushell have you seen this on Laravel 5.5 as well?  Conversion doesn't seem to work on retrieve or insert.  My scenario:

I have Client and Vendor tables with a many-to-many pivot.  Each of those models is using CamelCasing trait (modified per @acarpio89 workaround above).  Here'

[2018-02-19 22:43] maclonghorn commented on #68
Just saw this:
[code]
So is there any   way to still convert the pivot attributes when returning response?  Here's my api reponse:
[code]

[2018-03-21 09:48] warlord0 opened #69 "hasMany Relationship return no items"
When I enable CamelCasing on my Model it breaks the hasMany relationship.

[code]

Using:
[code]
returns:
[code]
If I disable CamelCasing:
[code]
Trouble is I'm using this with vue.js so CamelCasing is really helpful.

[2019-11-28 10:14] rrrafalsz opened #72 "unable to upgrade to laravel 6.6"
i'm on laravel 6.0, trying to upgrade to 6.6. composer tells me eloquence is preventing me from upgrading. i believe the issue is due to the pinning of `illuminate/database` to 5.5. there are [new releases available](https://github.com/illuminate/database/releases).

my laravel version:

[code]

my composer.json:

[code]

error with `composer update`:

[code]

full error log:

[code]

[2020-03-30 14:49] kakashispfc opened #74 "Validator"
Does this package support the validator?
Receiving camelCase.

[2020-03-30 14:50] #74 closed

[2020-03-30 14:51] kakashispfc commented on #74
duplicated #67

[2020-04-29 14:48] msiemens opened #75 "Laravel 7 compatibility"
Laravel 7 has been released on March 3rd, 2020, it would be lovely to be able to use eloquence with the new version 🙃

[2020-04-29 23:00] kirkbushell commented on #75
Open up a PR :) I have very little time for Eloquence these days as I'm just flat-chat with a number of projects so only really update when I need to.

If you can submit a PR it makes it much easier for me to pull, test, and then tag once done.

[2020-04-30 07:19] msiemens commented on #75
Will do! Is there anything to keep in mind for the PR?

[2020-04-30 07:31] kirkbushell commented on #75
@msiemens the tests - just ensuring things aren't broken :)

[2020-04-30 07:50] #75 closed

[2020-06-09 23:36] #68 closed

[2020-06-09 23:38] kirkbushell commented on #69
Closing as this was raised quite some time ago and I've seen no other similar issues raised.

[2020-06-09 23:38] #69 closed

[2020-06-09 23:38] kirkbushell commented on #72
This should now be resolved with the latest release.

[2020-06-09 23:38] #72 closed

[2020-06-18 09:10] acurrieclark opened #79 "New tagged release?"
Any chance of a new minor release with the latest merges?

[2020-08-25 05:52] horuskol opened #80 "Cannot mass assign to camel cased fields"
A [recent security release for Laravel](https://blog.laravel.com/security-release-laravel-61835-7240) has put in an extra constraint that you can only mass assign to existing columns in the table, which has broken some of my models where I've used camelCasing, since the column check happens before the attribute is set (and written to the database).

It is possible to overload the Eloquent `isGuard

[2020-08-25 06:01] kirkbushell commented on #80
Thanks @horuskol. If you wouldn't mind - setup a PR and I'll take a look in a few hours :)

[2020-08-25 22:38] #80 closed

[2020-09-13 02:11] horuskol opened #82 "Laravel 8 support"
Laravel 8 was released this week - and various support packages were updated in line with this, including `illuminate/database` which is a dependency for eloquence.

Current version of `illuminate/database` (and the Laravel framework) is v8.1.0:

https://packagist.org/packages/illuminate/database#v8.1.0
https://packagist.org/packages/laravel/framework#v8.1.0

[2020-10-19 10:52] #82 closed

[2020-10-19 10:56] kirkbushell commented on #79
Apologies - all done now.

[2020-10-19 10:56] #79 closed

[2021-01-21 17:46] ftcvlad opened #85 "setAttribute from CamelCasing trait changes contract"
As seen [here](https://github.com/laravel/framework/blob/c62385a23c639742b3b74a4a78640da25e6b782b/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L517) `setAttribute` in Laravel implementation returns a model.

As seen [here](https://github.com/kirkbushell/eloquence/blob/master/src/Behaviours/CamelCasing.php#L36) `setAttribute` in CamelCasing trait does not return anything.

So, if you

[2021-03-15 00:13] #85 closed

[2021-03-15 18:22] jaulz commented on #51
@kirkbushell is this still somewhere on the roadmap? would you accept a PR?

[2021-03-21 05:00] JayyWalker opened #90 "Should package discovery be used?"
I've noticed the documentation mentions to add `\Eloquence\EloquenceServiceProvider` to `config/app.php`. Most packages use Laravel's automatic package discovery, so it surprised me when this did not show up in the discovered packages list.

Is there a reason why this doesn't use that feature? It's a small amount of work to add so I'm happy to do it if need be.

[2021-04-05 01:05] eempey opened #91 "Eager loading not working"
I'm not sure if I'm missing a step somewhere but my eager loaded belongsTo relationship breaks when I use this package. This code works without the CamelCasing trait but when I add it get an error: ErrorException
Undefined property: App\Models\User::$status. My versions of PHP, Laravel and Eloquence are all > 8.
[code]

[2021-04-05 01:32] kirkbushell commented on #91
You have a clash of concerns here - you have a status attribute and a status relationship - you can't have both.

[2021-04-05 02:15] eempey commented on #91
Thank you for the quick response! The problem persists even if I remove 'status' from the $fillable array

[2021-04-05 02:27] kirkbushell commented on #91
Are you sure you're using an Eloquent model? The PHP error message suggests not.

You need to provide more code, but at this point time, I do not believe it's an Eloquence issue.

[2021-04-05 02:47] eempey commented on #91
It's definitely an eloquent model (this is from a template created via Laravel Jetstream) though I suppose there could be some code in Authenticable that is not playing nice with Eloquence. This is the complete file:
[code]
And this is authenticable:
[code]

[2021-04-05 02:48] eempey commented on #91
The other attributes are being converted properly by eloquence

[2021-04-05 02:57] kirkbushell commented on #91
Can you show me how you're accessing the attribute?

[2021-04-05 02:58] kirkbushell commented on #91
And the full stack trace.

[2021-04-05 03:01] eempey commented on #91
stack trace: https://flareapp.io/share/4m4000Ym#F57

[2021-04-05 03:04] eempey commented on #91
Accessing it like this:
[code]
    Or I could also remove the $with from the model and do `$staffList = User::with('status')->get()` in the Controller and get the same result. Both approaches work without eloquence

[2021-04-05 03:36] kirkbushell commented on #91
This doesn't tell me much. I suspect it's the User::all() ? Yet stack trace doesn't support that, appears to be done via the auth guard. Eloquence isn't doing anything other than deferring the call to getRelationValue.

Is there a status column on users?

[2021-04-05 03:44] eempey commented on #91
Yes. There is also a user_statuses table with columns status(primary key) and description

[2021-04-05 03:46] kirkbushell commented on #91
So I think part of the issue is the relationship name. It seems to me that it's trying to fetch an attribute called status, but you have a relationship called status. If you rename the relationship name, I think it'll work.

[2021-04-05 04:01] eempey commented on #91
Good call! I renamed the status column on both tables to status_id and it's working. Thank you for taking the time!

[2021-04-05 05:32] #91 closed

[2021-04-05 05:33] kirkbushell commented on #91
That is probably a better standard to follow anyway ;)

Glad to help.

[2021-04-15 07:06] tezrik opened #93 "Support PHP 8 !?"
hashids/hashids 1.0.6 requires php ^5.3.3 || ^7.0
version hashids/hashids:4.1 support  php 8

[2021-06-28 14:05] chantouchsek opened #96 "Can't work with `confirmed` validator"
if we are using `confirmed` validator, it will not pass the validation.

[2021-10-05 02:41] kirkbushell commented on #96
@chantouchsek can you provide more information and details?

[2021-10-05 02:44] kirkbushell commented on #90
@JayyWalker just never got around to it. Happy to merge any PR that supports auto-discovery :)

[2021-10-05 02:45] kirkbushell commented on #51
@jaulz I would.

[2021-12-09 15:51] rushi7997 opened #97 "can't install the package"
The Error I am getting is here

to reproduce the error simply install the package using the command  `composer require kirkbushell/eloquence:~4.0`
on a fresh laravel 8 project

[2021-12-13 21:03] gajosadrian opened #98 "Laravel Octane"
Is this package compatibile with [Laravel Octane](https://laravel.com/docs/master/octane)?

Configuration Repository Injection
https://laravel.com/docs/master/octane#configuration-repository-injection

Managing Memory Leaks
https://laravel.com/docs/master/octane#managing-memory-leaks

[2021-12-20 18:35] binotaliu commented on #97
For Laravel 8, install ~8.0 version, not ~4.0.

[2022-02-12 20:50] deonthomasgy opened #99 "Support for Laravel 9"

[2022-03-18 15:33] chantouchsek commented on #96
Ok, if we are using this package into model, and that model need to validate `confirmed`. so the validation will never pass.

[2022-03-28 19:37] gajosadrian commented on #99
it doesn't work for laravel 9?

[2022-04-10 13:41] ijry commented on #99
+1

[2022-05-21 01:28] mikebronner opened #100 "Support eloquent casts when using Camelcasing"
When trying to access data in json attributes in models, Livewire is unable to access the snake-case format, which makes it problematic if you are in a transition period between moving from snake_case to camelCase.

I haven't dug into this yet to see how Livewire accesses model properties, but I'll try and give it a go and submit a PR if I can.

[2022-05-21 01:34] kirkbushell commented on #100
Thanks, Mike. It shouldn't be an issue. Accessing attributes on Eloquence models converts all calls to attributes to snake_case when it tries to access an attribute. It doesn't maintain its own internal casing, so it's a weird bug. If you can find out more info, that'd be great (also a big livewire fan).

[2022-05-21 01:38] mikebronner commented on #100
A bit more context:

Livewire validations:
[code]

For it to work, it must be written in camel case:
[code]

Here's a snippet of the model (it inherits the camel-casing trat from a parent model)
[code]

[2022-05-21 13:16] mikebronner commented on #100
Diving into Livewire's validation code, it appears they convert everything that gets validated to arrays by calling `toArray()` on models and collections. The CamelCase trait exposes only the camel-cased properties. Would it be a bad thing to expose both the snake-cased as well as the camel-cased properties via `toArray()` or would that cause issues?

I mean, it would probably mess with anyone try

[2022-05-26 20:03] mikebronner opened #101 "`firstOrNew` appears to be broken when using CamelCasing."
[code]

fails when using softDeletes:
[code]

[2022-06-04 07:51] xocdr commented on #99
+1

[2022-06-11 01:27] kirkbushell commented on #101
Looks like with this particular issue Eloquent defers to the Builder, so in order to manage this we'd need to set it up on the model, change the attributes and then defer.

I'm currently just adding Laravel 9 support, but if you wanted to setup a PR, I can check today and merge.

[2022-06-11 01:29] kirkbushell commented on #100
@mikebronner Have you tried doing the casting as a camelCase value instead?

The point of the camelCase trait is to use camelCasing wherever you're working with model fields.

[2022-06-11 02:31] mikebronner commented on #101
Thanks Kirk, I'm a bit stumped by this ... I implemented a work-around to avoid `firstOrNew` for the time bring.

[2022-06-11 02:32] mikebronner commented on #100
I didn't ... do you write all your fillable, casts, etc.  in camel-case?

[2022-06-11 02:36] kirkbushell commented on #100
You shouldn't have to, the point of the library is to convert to-from snake_case, as this is the default mode when reading from the database. I was asking in case maybe that resolved it :)

More than likely I need to add better support for casts.

[2022-09-20 14:58] mikebronner commented on #99
@kirkbushell  This can be closed -- now works in Laravel 9 as well as PHP 8.1.

[2022-09-20 15:03] mikebronner commented on #93
@kirkbushell This can now be closed, as it works on PHP 8.0 and 8.1.

[2022-10-12 15:49] chantouchsek commented on #96
'password' => ['required', 'min:6', 'max:255', 'confirmed'],

[2022-11-30 16:50] hubertnnn opened #102 "Eloquence does not work correctly when using Laravel Attributes"
Here is my use case:
In database I have a `keep_updated` column.
In my model I have following attribute:
[code]

If my database contains two rows with values `null` and `["test"]`, then this gives me following output:
[code]
[code]

After switching to using a Cast class I get following (correct) result:
[code]
[code]

It seems that Eloquence does not work correctly with Laravel Attributes
possibly